<!-- <table>
  <tr>
    <td [attr.colspan]="cp">500</td>
  </tr>
  <tr>
    <td>50</td>
    <td>50</td>
    <td>50</td>
    <td>50</td>
    <td>50</td>
  </tr>
</table> -->

<!-- <button
  style="color: red;"
  [style.backgroundColor]="isActive ? 'yellow' : 'green'"
>
  Guardar
</button> -->

<!-- <div (click)="onDivClicked()">
  <button (click)="onClick($event)">Guardar</button>
</div> -->

<!-- <input [(ngModel)]="email" (keyup.enter)="onKeyup($event)" /> -->
<!-- <ul>
  ​
  <li>{{ course.title | uppercase | lowercase }}</li>
  ​
  <li>{{ course.students | number }}</li>
  ​
  <li>{{ course.rating | number: "2.1-1" }}</li>
  ​
  <li>{{ course.price | currency: "AUD":true }}</li>
  ​
  <li>{{ course.releaseDate | date: "shortDate" }}</li>
  ​
</ul> -->

<div>{{ text | summary }}</div>
